.home__page{
    display: grid;
    grid-template: 1fr / 1fr 550px 50px 220px 1fr;
    grid-template-areas:
    ". main . side ."
    ". main . side .";
}

.main__buying__power{
    color: rgb(121, 168, 59);
    text-align: center;
    padding-top: 10px;
}

.main__content{
    grid-area: main;
    width: 100%;
    /* height: 100vh; */
    border-style: solid;
    border-color: rgb(151, 151, 151);
    border-width: 1px;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.side__content{
    grid-area: side;
    display: grid;
    grid-template-rows: 30px repeat(auto-fill, 20px);
    width: 100%;
    height: 400px;
    border-style: solid;
    border-color: rgb(151, 151, 151);
    border-width: 1px;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list__title{
    border-bottom: 1px solid rgb(209, 209, 209);
}

.watchlist__tab:hover{
    background-color: rgb(229, 229, 229);
}

.watchlist__tab > i{
    margin-left: 135px;
    color: rgb(39, 69, 25);
}

.watchlist__tab:hover i{
    color: rgb(103, 161, 76);
}

.watchlist__item{
    color: rgb(48, 83, 22);
    padding-top: 5px;
    font-weight: lighter;
    font-size: 15px;
    padding-left: 5px;
}

.watchlist__item:hover{
    background-color: rgb(229, 229, 229);
}

.no__items{
    color: rgb(161, 161, 161);
}

.slide_show_component{
    display: grid;
    width: 500px;
    height: 350px;
    margin-left: 25px;
    grid-template-areas:
    "leftA . name name rightA"
    "perc . . . val"
    "port port port port port";
}

.slide__image{
    width: 500px;
    height: 350px;
    position: absolute;
    z-index: 1;
    border-radius: 15px;
}
.slide__overlay{
    width: 500px;
    height: 350px;
    position: absolute;
    z-index: 2;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.25605339403973515) 73%, rgba(0,0,0,0.908371274834437) 100%);
    border-radius: 15px;

}

.slide__arrow{
    z-index: 3;
    color: rgb(113, 176, 71);
    font-size: 25px;
}

.slide__arrow:hover{
    color: rgb(77, 122, 48);
}

.right__arrow{
    grid-area: rightA;
    height: max-content;
    width: max-content;
    margin-right: 0px;
    justify-self: end;
}

.left__arrow{
    grid-area: leftA;
    margin-left: 0px;
    height: max-content;
    width: max-content;

}

.slide__name{
    grid-area: name;
    z-index: 3;
    color: white;
    justify-self: center;
    font-size: 27px;
}

.slide__percentage{
    grid-area: perc;
    z-index: 3;
    color: white;
    font-size: 40px;
    background-color: rgba(33, 80, 8, 0.457);
    border-radius: 10px;
    height: fit-content;
    width: fit-content;
}

.slide__val{
    grid-area: val;
    z-index: 3;
    color: white;
    justify-self: end;
    font-size: 40px;
    background-color: rgba(33, 80, 8, 0.457);
    border-radius: 10px;
    height: fit-content;
    width: fit-content;

}

.slide__portfolio{
    grid-area: port;
    color: white;
    z-index: 3;
    font-size: 30px;
    text-align: center;
    align-self: end;
    background-color: rgba(33, 80, 8, 0.457);
    border-radius: 15px;
}

.news__label{
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(187, 187, 187);
}

.news__component{
    display: grid;
    /* grid-template-rows: repeat(auto-fill, px); */
}

.news__article{
    width: 100%;
    display: grid;
    grid-template-areas:
    ' source . . '
    ' title title newsImg '
    ' desc desc desc ';
    grid-template-rows: 30px 80px 50px;
    border-bottom: 1px solid rgb(187, 187, 187);
}


.news__source{
    grid-area: source;
    font-size: 14px;
    font-weight: bold;
    padding: 0px;
}

.news__image{
    grid-area: newsImg;
    width: 150px;
    height: 75px;
    border-radius: 10px;
    justify-self: end;
    margin-right: 0px;
}

.news__title{
    grid-area: title;
    font-size: 12px;
}

.news__desc{
    grid-area: desc;
    font-size: 11px;
    color: rgb(94, 127, 50);
    overflow: scroll;
}
