.farm__page{
    display: grid;
    grid-template: 1fr / 1fr 550px 50px 220px 1fr;
    grid-template-areas:
    ". data . orders ."
    ". data . orders .";
    height: 100%;
}

.farm__content{
    grid-area: data;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-color: rgb(151, 151, 151);
    border-width: 2px;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 30px;
}

.farm__order{
    grid-area: orders;
    width: 100%;
    height: 400px;
}

.farm__image{
    width: 100%;
    height: 300px;
}
.overlay__image{
    position: absolute;
    width: 550px;
    height: 300px;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(0,0,0,0.25605339403973515) 73%, rgba(0,0,0,0.908371274834437) 100%);}
.overlay__image:hover{
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.293) 0%, rgba(0, 0, 0, 0.718) 73%, rgba(0, 0, 0, 0.944) 100%);
}

.farm__name{
    position: absolute;
    z-index: 3;
    color: white;
    font-size: 40px;
    box-sizing: border-box;
    border-style: none;
    padding: 0px;
}

.farm__name:focus{
    outline: none;
}


.edit__farm__page {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    margin: 0 auto;
    height: auto;
    max-height: 70vh;
    margin-top: calc(100vh - 85vh - 20px);
    background-color: rgba(69, 69, 69, 0.683);
    color:rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
}

.background__shadow{
    position: fixed;
    background: #0000007d;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index:5;
}

.farm__about__label{
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(195, 195, 195);
}

.farm__about{
    font-size: 15px;
    color: rgb(44, 44, 44);

}

.farm__no__about{
    font-size: 15px;
    color: rgb(44, 44, 44);
}

.createFarm__page{
    background-color: rgb(221, 221, 221);
    display: grid;
    grid-template: 50px 1fr 50px / 1fr 700px 1fr;
    grid-template-areas:
    ' . . . '
    ' . create . '
    ' . . . ';
    height: 100%;
}

.edit_form{
    grid-area: create;
    font-family: Arial, sans-serif;
    position: relative;
    margin: auto auto;
    background-color: rgb(255, 255, 255);
    color:black;
    border-radius: 10px;
    padding: 40px;
}


.edit_form input{
    background-color: rgb(255, 246, 223);
    color: rgb(0, 0, 0);
}
.edit_form label{
    color: rgb(0, 0, 0);
    font-weight: bold;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(147, 147, 147);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }

.form__title{
    margin-bottom: 20px;
    font-size: 20px;
}

  input[type=number], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(147, 147, 147);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }

  .edit_form textarea{
    background-color: rgb(255, 246, 223);
    color: rgb(0, 0, 0);
}


  input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }

  .order__form{
    display: grid;
    grid-template-areas:
    ' share shareC '
    ' order orderC '
    ' avg avgC '
    ' est estC '
    ' rev rev '
    ' buy buy ';

    font-size: 15px;
    padding: 5px;
    border-style: solid;
    border-color: rgb(151, 151, 151);
    border-width: 2px;
    box-shadow: 0 3px 3px 1px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .shares{
      grid-area: share;
  }

  #sharesC {
      grid-area: shareC;
      padding: 5px;
      margin-top: 0px;
      margin-bottom: 10px;
      align-self: center;
  }

  .avgPrice{
      grid-area: avg;
      padding-bottom: 10px;
  }

.average__price{
    grid-area: avgC;
    justify-self: end;
    padding-bottom: 10px;
}

.estCost{
    grid-area: est;
    padding-bottom: 10px;

}

.estimated__price{
    grid-area: estC;
    justify-self: end;
    padding-bottom: 10px;

}

.rev{
    grid-area: rev;
    background-color: rgb(112, 151, 87);
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    margin-top: 30px;
}

.rev:hover{
    background-color: rgb(80, 107, 63);
}

.buy{
    grid-area: buy;
    font-size: 14px;
    color: rgb(112, 151, 87);
    margin-top: 10px;
    text-align: center;
}


.add__to__list{
    color: rgb(130, 217, 0);
    border: 1px solid rgb(130, 217, 0);
    margin-top: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 10px;
}

.add__to__list:hover{
    background-color: rgb(223, 251, 212);
}

.order{
    grid-area: order;

}

.orderC{
    grid-area: orderC;
    padding: 5px;
    align-self: center;
    margin-top: 0px;
    margin-bottom: 10px;
}
